body{
    margin: 0;
    padding: 0;
    background: url(../img/Index.jpg) no-repeat center top;
    background-position: center center;
    background-size: cover;
    font-family: sans-serif;
    background-attachment: fixed;
  }  