<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
    <link href="../public/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Veterinaria</title>
    <div id="layout"></div>
    <script>
        $(document).ready(function(){
            test();
        });
        function test(){
            $("#layout").load("Layout.html")
        }
    </script>
</head>
<body>

</body>
</html>
