<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/master.css">
    <title>Registro</title>
</head>
<body>
<div class="login-box">
    <form>
        <!-- MAIL -->
        <label for="EMAIL">Email</label>
        <input type="text" placeholder="Enter Email">

        <!--DNI-->
        <label for="DNI">DNI</label>
        <input type="password" placeholder="Enter Password">

        <!--DIRECCION-->
        <label for="DIRECCION">DIRECCION</label>
        <input type="password" placeholder="Enter Password">

        <!--TELEFONO-->
        <label for="TELEFONO">TELEFONO</label>
        <input type="password" placeholder="Enter Password">

        <!--NOMBRE-->
        <label for="NOMBRE">NOMBRE</label>
        <input type="password" placeholder="Enter Password">

        <!--APELLIDO-->
        <label for="APELLIDO">APELLIDO</label>
        <input type="password" placeholder="Enter Password">

        <!--PASSWORD-->
        <label for="PASSWORD">Password</label>
        <input type="password" placeholder="Enter Password">

        <!--PASSWORD-->
        <label for="PASSWORD">Password</label>
        <input type="password" placeholder="Enter Password">

        <input type="submit" value="Sign In">

    </form>
    </div>
</body>
</html>